<!-- topbar -->
<div class="topbar">
  <!-- wiki title -->
  <div class="topbar-header">
    <a class="topbar-brand" href="#"></a>
  </div>

  <ul class="nav topbar-nav topbar-left">
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Option <span class="caret"></span></a>

      <ul class="dropdown-menu" role="menu">
        <li>
          <a id="optionPreview" href="#"><span class="glyphicon"></span> Realtime preview</a>
        </li>
        <li>
          <a id="optionSyncScroll" href="#"><span class="glyphicon"></span> Sync scroll</a>
        </li>
        <li>
          <a id="optionBlackTheme" href="#"><span class="glyphicon"></span> Black theme</a>
        </li>
        <!-- {{if mathjax}}
        <li>
          <a id="optionMathJax" href="#"><span class="glyphicon"></span> MathJax</a>
        </li>
        {{end}} -->
        <li class="divider"></li>
        <li>
          <a id="dropdown-math" href="#">Math editor <kbd>Ctrl</kbd><kbd>M</kbd></a>
        </li>
        <li>
          <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet" target="_blank">Markdown Cheatsheet</a>
        </li>
        <li>
          <a href="http://emoji.codes/" target="_blank">Emoji Cheat Sheet</a>
        </li>
      </ul>
    </li>
  </ul>

  <!-- right buttons -->
  <ul class="nav topbar-nav topbar-right">
    <li>
      <a id="btnToggle" href="#" title="Toggle preview"><span class="glyphicon glyphicon-picture"></span></a>
    </li>
    <li>
      <a id="btnSave" class="hover-green" data-toggle="modal" href="#" title="Save"><span class="glyphicon glyphicon-floppy-disk"></span></a>
    </li>
    <li>
      <a id="btnClose" class="hover-red" href="#" title="Close editor"><span class="glyphicon glyphicon-remove"></span></a>
    </li>
  </ul>
</div>
