<!-- save modal -->
<div id="mdlSave" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mdlSave-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="mdlSave-label">Save document</h4>
      </div>
      <div class="modal-body">

        <!-- error alert -->
        <div id="mdlSave-alert" class="alert alert-danger fade in" role="alert">
        </div>

        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span></span>
          <input id="mdlSave-message" type="text" class="form-control" placeholder="message (optional)" aria-describedby="basic-addon1">
        </div>

        <div class="input-group input-group-sm">
          <span class="input-group-addon" id="basic-addon2"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></span>
          <input id="mdlSave-name" type="text" class="form-control" placeholder="author name (optional)" aria-describedby="basic-addon2">
        </div>

        <div class="input-group input-group-sm">
          <span class="input-group-addon" id="basic-addon3"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></span>
          <input id="mdlSave-email" type="email" class="form-control" placeholder="email address (optional)" aria-describedby="basic-addon3">
        </div>

      </div>
      <div class="modal-footer">
        <button id="mdlSave-save" type="button" class="btn btn-primary" data-loading-text="Processing...">Save</button>
      </div>
    </div>
  </div>
</div>

<!-- backed up version available modal -->
<div id="mdlBackup" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mdlBackup-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="mdlBackup-label">Restore backup</h4>
      </div>
      <div class="modal-body">

        <p>There is a backed up version of document available. Do you want to use it?</p>

      </div>
      <div class="modal-footer">
        <button id="mdlBackup-discard" type="button" class="btn btn-danger">Discard</button>
        <button id="mdlBackup-restore" type="button" class="btn btn-primary">Restore</button>
      </div>
    </div>
  </div>
</div>

<!-- math editor modal -->
<div id="mdlMath" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mdlMath-label" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="mdlMath-label">Math editor</h4>
      </div>
      <div id="mdlMath-body" class="modal-body">

        <div id="mdlMath-fieldFrame">
          <div id="mdlMath-select"></div>
          <canvas id="mdlMath-ghost"></canvas>
          <div id="mdlMath-field"></div>
        </div>
        <div id="mdlMath-candy"></div>

        <div id="mdlMath-latexFrame">
          <input id="mdlMath-latex" type="text"/>
        </div>

      </div>
      <div class="modal-footer">
        <button id="mdlMath-discard" type="button" class="btn btn-default">Discard</button>
        <button id="mdlMath-insert" type="button" class="btn btn-primary">Insert</button>
      </div>
    </div>
  </div>
</div>
