<!DOCTYPE html>
<html>
<head>
  <title></title>

  {{template "meta.html"}}

  {{template "css.html"}}

  <link rel="stylesheet" type="text/css" href="{{urlPrefix}}/css/editor.css">

  <link rel="icon" href="{{urlPrefix}}/ico/favicon.png">
</head>
<body>
  <noscript>
    <p>PLEASE ENABLE JavaScript</p>
  </noscript>

  <!-- navbar -->
  {{template "editor-navbar.html" .}}

  <div id="app_wrap" class="container-fluid">

    <div id="editor"></div>
    <div id="preview" class="markdown"></div>

  </div>

  {{template "editor-modals.html" .}}

  <!-- javascript -->
  {{template "js.html" .}}

  <script src="{{urlPrefix}}/js/editor.min.js" type="text/javascript"></script>

</body>
