<!DOCTYPE html>
<html>
<head>
  <title>{{.Title}} - {{wikiName}}</title>

  {{template "meta.html"}}

  {{template "css.html"}}

  <link rel="icon" href="{{urlPrefix}}/ico/favicon.png">
</head>
<body>
  <!-- navigation bar -->
  {{template "page-navbar.html" .}}

  {{if gitmode}}

  <div class="container">

    <!-- breadcrumb list -->
    <ol class="breadcrumb">
      {{range .WikiPathList}}
      <li><a href="{{urlPrefix}}{{.WikiPath}}">{{.NameWithoutExt}}</a></li>
      {{end}}
    </ol>

    {{with .SidebarMdHTML}}
    <div class="syaro-sidebar col-md-3">
      <div class="markdown">{{.}}</div>
    </div>
    {{end}}

    <div class="syaro-main col-md-9">
      {{template "history-list.html" .}}
    </div>

  </div>

  {{else}}

  <div class="container error-container">
    <!-- jumbotron -->
    <div class="jumbotron">
      <h1>Git mode is not enabled</h1>
      <p>Please enable git mode to use "History" feature</p>
    </div>
  </div>

  {{end}}


  <!-- Modal -->
  {{template "page-modals.html" .}}

  <!-- javascript -->
  {{template "js.html" .}}
  <script src="{{urlPrefix}}/js/page.js" type="text/javascript"></script>

</body>
</html>
