<script type="text/javascript">
  var syaro = {
    urlPrefix: {{urlPrefix}},
    wikiName: {{wikiName}},
    mathjax: {{mathjax}},
    highlight: {{highlight}},
    gitmode: {{gitmode}}
  }
</script>

<script src="{{urlPrefix}}/js/jquery.min.js" type="text/javascript"></script>
<script src="{{urlPrefix}}/js/bootstrap.min.js" type="text/javascript"></script>

{{if mathjax}}
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    showProcessingMessages: false,
    "HTML-CSS": { linebreaks: { automatic: true } },
    SVG: { linebreaks: { automatic: true } }
  });
</script>
<script src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML" type="text/javascript"></script>
{{end}}

{{if highlight}}
<script src="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.2/highlight.min.js" type="text/javascript"></script>
<script type="text/javascript">hljs.initHighlightingOnLoad()</script>
{{end}}

<script type="text/javascript" src="/js/emojify.min.js"></script>
