<!-- navigation bar -->
<div class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">

    <!-- wiki title -->
    <div class="navbar-header">
      <a class="navbar-brand" href="{{urlPrefix}}/">{{wikiName}}</a>
    </div>

    <div class="navbar-collapse collapse">

      <!-- breadcrumb list -->
      <ol class="breadcrumb navbar-nav navbar-left">
        {{range .BreadCrumb}}
        <li><a href="{{.URL}}">{{.Name}}</a></li>
        {{end}}
      </ol>

      <ul class="navbar-right-menu-group nav navbar-nav navbar-right">
        <li>
          <a data-toggle="modal" href="#createModal" class="navbar-right-menu-orange"><span class="glyphicon glyphicon-plus"></span></a>
        </li>
        <li>
          <a data-toggle="modal" href="#uploadModal" class="navbar-right-menu-orange"><span class="glyphicon glyphicon-open"></span></a>
        </li>
      </ul>
    </div>

    <!--
    {{with .Sidebar}}
    <ul class="navbar-sm-right-menu-group nav navbar-nav navbar-right visible-xs">
      <li>
        <a data-toggle="modal" href="/_Sidebar.md"><span class="glyphicon glyphicon-th-list"></span></a>
      </li>
    </ul>
    {{end}}
    -->
  </div>
</div>
