<!DOCTYPE html>
<html>
<head>
  <title>{{.Title}}</title>

  {{template "meta.html"}}

  {{template "css.html"}}

  <link rel="stylesheet" type="text/css" href="{{urlPrefix}}/css/page.css">

  <link rel="icon" href="{{urlPrefix}}/ico/favicon.png">
</head>
<body>
  <noscript>
    <p>PLEASE ENABLE JavaScript</p>
  </noscript>

  <!-- navigation bar -->
  {{template "page-navbar.html" .}}

  <div class="container">

    {{with .Sidebar}}
    <div class="syaro-left col-md-2 col-sm-3 hidden-xs">
      <div class="markdown">{{.}}</div>
    </div>

    <div class="syaro-center col-md-7 col-sm-9 col-xs-12">
    {{else}}
    <div class="syaro-center col-md-9 col-sm-10 col-xs-12">
    {{end}}

      {{with .Contents}}
      <div class="markdown">{{.}}</div>
      {{end}}

      {{if .IsDir}}
        {{template "page-filelist.html" .}}
      {{end}}

    </div>

    <div class="syaro-right col-md-3 hidden-sm hidden-xs">

      <ul class="right-menu-group">
        <li>
          <a class="right-menu-orange" data-toggle="modal" href="#renameModal"><span class="glyphicon glyphicon-asterisk"></span></a>
        </li>
        <li>
          <a href="/edit?wpath={{.WikiPath}}" class="right-menu-blue"><span class="glyphicon glyphicon-pencil"></span></a>
        </li>
        <li>
          <a href="#" class="right-menu-purple" onclick="print()"><span class="glyphicon glyphicon-print"></span></a>
        </li>
        <li>
          <a class="right-menu-red" data-toggle="modal" href="#deleteModal"><span class="glyphicon glyphicon-trash"></span></a>
        </li>
      </ul>

      <ul class="sunken-menu-group">
        <li>
          <a href="#" aria-selected="true" class="js-selected-navigation-item selected sunken-menu-item">
          <span class="glyphicon glyphicon-book"></span> Contents</a>
        </li>

        <li>
          <a href="#history" class="js-selected-navigation-item sunken-menu-item">
            <span class="glyphicon glyphicon-time"></span> History</a>
        </li>
      </ul>

      {{with .TOC}}
      <hr/>
      {{.}}
      {{end}}

      <!-- search box -->
      <form action="{{urlPrefix}}/error/501?data=Search" method="post" class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
          <button type="submit" class="btn btn-default">
            <span class="glyphicon glyphicon-search"></span>
          </button>
        </div>
      </form>
    </div>
  </div>

  <!-- Modal -->
  {{template "page-modals.html" .}}

  <!-- javascript -->
  {{template "js.html" .}}

  <script src="{{urlPrefix}}/js/page.js" type="text/javascript"></script>

</body>
</html>
