<!-- navigation bar -->
<div class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">

    <!-- breadcrumb list -->
    <ol class="breadcrumb navbar-nav navbar-left">
      <li><a class="orange" href="/"><span class="glyphicon glyphicon-home"></span></a></li>
      {{range .BreadCrumb}}
      <li><a href="{{.URL}}">{{.Name}}</a></li>
      {{end}}
    </ol>

    <div class="navbar-collapse collapse navbar-right">
      {{template "searchbox.html"}}
    </div>

    <!--
    {{with .Sidebar}}
    <ul class="navbar-sm-right-menu-group nav navbar-nav navbar-right visible-xs">
      <li>
        <a data-toggle="modal" href="/_Sidebar.md"><span class="glyphicon glyphicon-th-list"></span></a>
      </li>
    </ul>
    {{end}}
    -->
  </div>
</div>
