<!-- file list -->
<div class="syaro-filelist">
  <div class="panel panel-info">
    <div class="panel-heading">Files under {{.WikiPath}}</div>

    <!-- Table -->
    <table class="table">
      <tbody>
        {{with .Parent}}
        <tr>
          <td><span class="glyphicon glyphicon-level-up"></span></td>
          <td><a href="{{.URL}}">../</a></td>
          <td>{{.WikiPath}}</td>
        </tr>
        {{end}}
        {{range $index, $file:= .Folders}}
        <tr>
          <td><span class="glyphicon glyphicon-folder-open"></span></td>
          <td><a href="{{$file.URL}}">{{$file.Name}}/</a></td>
          <td>{{$file.WikiPath}}</td>
        </tr>
        {{end}}
        {{range $index, $file:= .MdFiles}}
        <tr>
          <td><span class="glyphicon glyphicon-save-file"></span></td>
          <td><a href="{{$file.URL}}">{{$file.Name}}</a></td>
          <td>{{$file.WikiPath}}</td>
        </tr>
        {{end}}
        {{range $index, $file:= .OtherFiles}}
        <tr>
          <td><span class="glyphicon glyphicon-file"></span></td>
          <td><a href="{{$file.URL}}">{{$file.Name}}</a></td>
          <td>{{$file.WikiPath}}</td>
        </tr>
        {{end}}
      </tbody>
    </table>

  </div>
</div>
