<!-- file list -->
<div class="syaro-filelist">
  <div class="panel panel-info">
    <div class="panel-heading">Files under {{.WikiPath}}
      <ul class="panel-heading-menu">
        <li>
          <a class="panel-heading-menu-orange" data-toggle="modal" href="#createModal"><span class="glyphicon glyphicon-plus"></span></a>
        </li>
        <li>
          <a class="panel-heading-menu-orange" data-toggle="modal" href="#uploadModal"><span class="glyphicon glyphicon-open"></span></a>
        </li>
        <li>
          <a class="panel-heading-menu-orange" data-toggle="modal" href="#renameModal"><span class="glyphicon glyphicon-asterisk"></span></a>
        </li>
        <li>
          <a class="panel-heading-menu-red" data-toggle="modal" href="#deleteModal"><span class="glyphicon glyphicon-trash"></span></a>
        </li>
      </ul>
    </div>

    <!-- Table -->
    <table class="table">
      <tbody>
        {{with .Parent}}
        <tr>
          <td><span class="glyphicon glyphicon-level-up"></span></td>
          <td><a href="{{.URL}}">../</a></td>
          <td>{{.WikiPath}}</td>
        </tr>
        {{end}}
        {{range $index, $file:= .Folders}}
        <tr>
          <td><span class="glyphicon glyphicon-folder-open"></span></td>
          <td><a href="{{$file.URL}}">{{$file.Name}}/</a></td>
          <td>{{$file.WikiPath}}</td>
        </tr>
        {{end}}
        {{range $index, $file:= .MdFiles}}
        <tr>
          <td><span class="glyphicon glyphicon-save-file"></span></td>
          <td><a href="{{$file.URL}}">{{$file.Name}}</a></td>
          <td>{{$file.WikiPath}}</td>
        </tr>
        {{end}}
        {{range $index, $file:= .OtherFiles}}
        <tr>
          <td><span class="glyphicon glyphicon-file"></span></td>
          <td><a href="{{$file.URL}}">{{$file.Name}}</a></td>
          <td>{{$file.WikiPath}}</td>
        </tr>
        {{end}}
      </tbody>
    </table>

  </div>
</div>
