<!DOCTYPE html>
<html>
<head>
  <title>501 Not implemented - {{wikiName}}</title>

  {{template "meta.html"}}

  {{template "css.html"}}

  <link rel="icon" href="{{urlPrefix}}/ico/favicon.png">
</head>
<body>

  <!-- navigation bar -->
  {{template "error-navbar.html"}}

  <div class="container error-container">

    <div class="jumbotron">

      <h1>501 Not implemented</h1>
      <p>Sorry, "{{.}}" feature is not implemented yet.</p>

      <br>

      <h2>No SHINTYOKU Exception</h2>
      <p>(乂'ω')</p>

    </div>

  </div>

</body>
</html>
