<!-- navigation bar -->
<div class="navbar navbar-inverse navbar-static-top" role="navigation">
  <div class="container">

    <!-- wiki title -->
    <div class="navbar-header">
      <a class="navbar-brand" href="{{urlPrefix}}/">{{wikiName}}</a>
    </div>

    <div class="navbar-collapse collapse">

      <ul class="nav navbar-nav">
        <li class="active">
          <a href="{{.URLPath}}">{{.WikiPath}}</a>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Option <span class="caret"></span></a>

          <ul class="dropdown-menu" role="menu">
            <li>
              <a id="optionPreview" href="#"><span class="glyphicon"></span> Realtime preview</a>
            </li>
            <li>
              <a id="optionSyncScroll" href="#"><span class="glyphicon"></span> Sync scroll</a>
            </li>
            {{if mathjax}}
            <li>
              <a id="optionMathJax" href="#"><span class="glyphicon"></span> MathJax</a>
            </li>
            {{end}}
            <li class="divider"></li>
            <li>
              <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet" target="_blank">Markdown Cheatsheet</a>
            </li>
          </ul>
        </li>
      </ul>

      <!-- right buttons -->
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a id="saveButton" class="hover-green" data-toggle="modal" href="#"><span class="glyphicon glyphicon-floppy-disk"></span> Save</a>
        </li>
        <li>
          <a class="hover-red" href="{{.URLPath}}"><span class="glyphicon glyphicon-remove"></span> Close editor</a>
        </li>
      </ul>

    </div>
  </div>
</div>
