<!DOCTYPE html>
<html>
<head>
  <title>{{.WikiPath}} - editor - {{wikiName}}</title>

  {{template "meta.html"}}

  {{template "css.html"}}

  <link rel="favicon" href="/ico/favicon.ico">
</head>
<body>
  <noscript>
    <p>PLEASE ENABLE JavaScript</p>
  </noscript>

  <!-- navbar -->
  {{template "editor-navbar.html" .}}

  <div id="app_wrap" class="container-fluid">

    <div id="editor">{{.MdText}}</div>
    <div id="preview" class="markdown"></div>

  </div>

  {{template "editor-modals.html"}}

  <!-- javascript -->
  {{template "js.html" .}}
  <script src="{{urlPrefix}}/lib/js/ace.js" type="text/javascript"></script>
  <script src="{{urlPrefix}}/lib/js/eastasianwidth.js" type="text/javascript"></script>
  <script src="{{urlPrefix}}/js/tableformatter.js" type="text/javascript"></script>
  <script src="{{urlPrefix}}/js/editor.js" type="text/javascript"></script>

</body>
