<!DOCTYPE html>
<html>
<head>
  <title>{{.Title}}</title>

  {{template "meta.html"}}

  <link rel="stylesheet" type="text/css" href="/css/bootstrap-3.2.0.min.css">
  <link rel="stylesheet" type="text/css" href="/css/markdown.css">
  <link rel="stylesheet" type="text/css" href="/css/syaro.css">

  <link rel="favicon" href="/ico/favicon.ico">
</head>
<body>
  <noscript>
    <p>PLEASE ENABLE JavaScript</p>
  </noscript>

  <!-- navigation bar -->
  <div class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">

      <!-- wiki title -->
      <div class="navbar-header">
        <a class="navbar-brand" href="{{urlPrefix}}/Home">Syaro Wiki</a>
      </div>

      <div class="navbar-collapse collapse">

        <!-- search box -->
        <form class="navbar-form navbar-left" role="search">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
            <button type="submit" class="btn btn-default">
              <span class="glyphicon glyphicon-search"></span>
            </button>
          </div>
        </form>

        <!-- right buttons -->
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="#" class="hover-orange"><span class="glyphicon glyphicon-plus"></span> New</a>
          </li>
          <li>
            <a href="#" class="hover-green"><span class="glyphicon glyphicon-asterisk"></span> Rename</a>
          </li>
          <li>
            <a href="?edit" class="hover-green"><span class="glyphicon glyphicon-pencil"></span> Edit</a>
          </li>
          <li>
            <a href="?history" class="hover-purple"><span class="glyphicon glyphicon-time"></span> History</a>
          </li>
          <li>
            <a href="#" class="hover-red"><span class="glyphicon glyphicon-trash"></span> Delete</a>
          </li>
        </ul>

      </div>
    </div>
  </div>

  <div class="container">

    <!-- breadcrumb list -->
    <ol class="breadcrumb">
      {{range $index, $page := .WikiPathList}}
      <li><a href="{{$page.WikiPath}}">{{$page.Name}}</a></li>
      {{end}}
    </ol>

    {{with .SidebarHTML}}
    <div class="syaro-sidebar col-md-3">
      <div class="markdown">
        {{.}}
      </div>
    </div>
    {{end}}

    <div class="syaro-main col-md-9">
      {{with .MarkdownHTML}}
      <div class="markdown">
        {{.}}
      </div>
      {{end}}

      {{if .IsDir}}
      <!-- file list -->
      <div class="syaro-filelist">
        <div class="panel panel-info">
          <div class="panel-heading">Files under {{.WikiPath}}</div>

          <!-- Table -->
          <table class="table">
            <thead>
              <tr>
                <th>#</th>
                <th>Name</th>
                <th>Title</th>
                <th>Path</th>
              </tr>
            </thead>
            <tbody>
              {{range $index, $page := .PageList}}
              {{with $page}}
              <tr>
                <td>{{add $index 1}}</td>
                <td><a href="{{$page.WikiPath}}">{{$page.Name}}</a></td>
                <td></td>
                <td>{{$page.WikiPath}}</td>
              </tr>
              {{end}}
              {{end}}
            </tbody>
          </table>

        </div>
      </div>
      {{end}}

    </div>
  </div>

  <script src="/js/jquery-2.1.1.min.js" type="text/javascript"></script>
  <script src="/js/bootstrap-3.2.0.min.js" type="text/javascript"></script>
</body>
</html>
