.markdown {
    margin: 0 auto;
    font-family: sans-serif;
    font-size: 16px;
    color: #444444;
    line-height: 1;
    max-width: 960px;
}

/* header */
.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
    color: #111111;
    font-weight: normal;
    line-height: 1.5;
    margin: 1em 0 .3em 0;
    padding: 0;
}
.markdown h1:before,
.markdown h2:before,
.markdown h3:before,
.markdown h4:before,
.markdown h5:before,
.markdown h6:before {
    color: #666;
    font-weight: normal;
    font-stretch: ultra-condensed;
    padding-right: .3em;
}
.markdown h1 {
    font-size: 28px;
    margin-top: 0;
    border-bottom: 4px double #b2b2b2
}
.markdown h1:before {
    content: "#";
}
.markdown h2 {
    font-size: 24px;
    border-bottom: 2px solid #b2b2b2;
}
.markdown h2:before {
    content: "##";
}
.markdown h3 {
    font-size: 21px;
    border-bottom: 2px dotted #b2b2b2;
}
.markdown h3:before {
    content: "###";
}
.markdown h4 {
    font-size: 18px;
    border-bottom: 2px dashed #b2b2b2;
}
.markdown h4:before {
    content: "####";
}
.markdown h5 {
    font-size: 16px;
}
.markdown h5:before {
    content: "#####";
}
.markdown h6 {
    font-size: 14px;
}
.markdown h6:before {
    content: "######";
}

/* link */
.markdown a.notfound {
    color: #ba0000;
}

.markdown p {
    line-height: 1.5em;
    margin: 0 0 1em 0;
}

/* list */
.markdown ul,
.markdown ul ul,
.markdown ol,
.markdown ol ol {
    line-height: 1.5em;
    margin: 0;
}
.markdown > ul,
.markdown > ol {
    margin-bottom: 1em;
}

/* task list */
.markdown li.tasklist-item {
    list-style: none;
}
.markdown li > input[type=checkbox] {
    display: none;
    margin: 0;
}
.markdown li > input[type=checkbox] + label {
    position: relative;
    display: inline-block;
    margin: .4em .5em 0 -1.5em;
    padding: 0 0 0 24px;
    font-weight: normal;
}
.markdown li > input[type=checkbox] + label::before {
    content: "";
    position: absolute;
    top: 0.75em;
    left: 0;

    box-sizing: border-box;
    display: block;
    width: 1em;
    height: 1em;
    margin-top: -.5em;

    background: #FFF;
    border: 2px solid #ccc;
}
.markdown li > input[type=checkbox]:checked + label::after {
    content: "";
    position: absolute;
    top: 0.75em;

    box-sizing: border-box;
    display: block;

    left: 2px;

    width: 1em;
    height: .5em;
    margin-top: -.5em;

    border-left: 3px solid #444;
    border-bottom: 3px solid #444;

    transform: rotate(-45deg);
}

/* code */
.markdown code {
    font-family: monospace;
}
.markdown p > code {
    padding: 2px 5px;
    line-height: 1;
    vertical-align: middle;
    display: inline-block;
}
.markdown pre {
    margin: 0 0 1em 0;
    white-space: pre;
    border: none;
    border-radius: 0;
}
.markdown pre > code {
    white-space: pre;
}

.markdown aside {
    display: block;
    float: right;
    width: 390px;
}

.markdown blockquote {
    border-left: .5em solid #eee;
    padding: 0 2em;
    margin-left: 0;
}
.markdown blockquote  cite {
    font-size: 14px;
    line-height: 20px;
    color: #bfbfbf;
}
.markdown blockquote cite:before {
    content: '\2014 \00A0';
}
.markdown blockquote p {
    color: #666;
}

.markdown hr {
    margin: 20px 0 20px 0;
    border: 0;
    border-top: 2px dashed #444;
}

/* table */
.markdown table {
    border: none;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0 auto 20px auto;
    min-width: 80%;
    max-width: 100%;
}
.markdown table>thead>tr>th,
.markdown table>thead>tr>td,
.markdown table>tbody>tr>th,
.markdown table>tbody>tr>td,
.markdown table>tfoot>tr>th,
.markdown table>tfoot>tr>td {
    padding: 5px;
    vertical-align: top;
    border-top: 1px solid #ddd;
}
.markdown table>thead>tr>th {
    vertical-align: bottom;
    border-bottom: 2px solid #ddd;
    font-size: 80%;
    font-weight: bold;
    line-height: 120%;
}
.markdown table th[align=left] {
    text-align: left;
}
.markdown table th[align=right] {
    text-align: right;
}
.markdown table th[align=center] {
    text-align: center;
}
.markdown table>thead:first-child>tr:first-child>td,
.markdown table>thead:first-child>tr:first-child>th {
    border-top: 0;
}

/* image */
.markdown img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
}
.markdown figure {
    display: block;
    max-width: 100%;
    margin: 0 auto;
    padding: 4px;
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: border .2s ease-in-out;
}
.markdown figure figcaption {
    padding: 9px;
    color: #333;
    text-align: center;
}

/* emoji */
.markdown img.emojione {
    display: inline-block;
    margin: 0 0 .25em 0;
    width: 1.2em;
    height: 1.2em;
}
