/* overwrite bootstrap3 styles */
.navbar-default {
    background-color: unset;
}
.breadcrumb {
    background-color: unset;
    margin-bottom: 0px;
    padding: 15px 15px;
}
.navbar-right-menu-group > li > a {
    padding: auto;
    font-size: 20px;
}
.navbar-sm-right-menu-group {
    display: inline-block;
}
.navbar-sm-right-menu-group > li > a {
    padding: auto;
    font-size: 20px;
}

.syaro-filelist {
    padding: 0 30px 30px 30px;
}
.syaro-right {
    background-image: linear-gradient(to right, #f6f6f6 0%, #fff 8px);
    box-shadow: inset 1px 0 0 #eee;
    padding-left: 0;
}

.right-menu-group {
    list-style-type: none;
    display: inline-block;
    padding-left: 8px;
    margin: 12px 0;
}
.right-menu-group > li {
    display: inline-block;
    float: left;
    font-size: 20px;
    padding: 0 8px;
}
.right-menu-group > li > a {
    color: #777777;
}
.right-menu-orange:hover,
.right-menu-orange:focus {
    color: #F36D00;
}
.right-menu-blue:hover,
.right-menu-blue:focus {
    color: #0065F3;
}
.right-menu-purple:hover,
.right-menu-purple:focus {
    color: #BF00F3;
}
.right-menu-red:hover,
.right-menu-red:focus {
    color: #F30004;
}

.sunken-menu-group {
    list-style-type: none;
    padding-left: 0;
    max-width: 160px;
}
.sunken-menu-item {
    display: block;
    padding: 8px 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid transparent;
    outline: 0;
}
.sunken-menu-item.selected {
    font-weight: bold;
    color: #333;
    background-color: #fff;
    border-color: #eee #eee #eee transparent;
    border-radius: 0 3px 3px 0;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.05);
}
.sunken-menu-item > span {
    color: #999;
}
.sunken-menu-item.selected > span,
.sunken-menu-item:hover > span {
    color: #333;
}

.navbar-header>a.navbar-brand:hover {
    color: #ffa600;
}

/* error page */
.error-container {
    max-width: 750px;
}

/* editor */
#app_wrap {
    position: fixed;
    top: 50px;
    bottom: 0;
    left: 0;
    right: 0;
}

#editor {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 50%;
    font-size: 14px;
}

#preview {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    right: 0;
    overflow: auto;
    background: rgb(250,250,250);
    box-sizing: border-box;
    box-flex: 1;
}

/* modal */
.modal-content .input-group {
    margin-bottom: 10px;
}
.modal-content .input-group-sm {
    margin-bottom: 5px;
    max-width: 50%;
}

/* emoji */
img.emoji {
    vertical-align: text-bottom;
    height: 1.3em;
}

.dropdown-menu.emoji-suggest-list {
    max-height: 230px;
    overflow: auto;
    position: fixed;
}

a.insert-emoji-trigger {
    cursor: pointer;
}
